*{
    margin: 0;
    padding: 0;
}

html, body{
    font-size: 20px;
    background-color: azure;
}

h1{
    max-width: 940px;
    font-size: 2.5em;
    line-height: 1.1;
    margin: 40px 0;
}

.App{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.testimonial-container{
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}